body{
    font-family: poppins;
    background-color: #000;
    transition: background .2s linear;
}

.form-container{
    display: flex;
    background-color: #121212;
    flex-direction: column;
    position: absolute;
    left:50%;
    font-size: 0.8em;
    top:50%;
    transform: translate(-50%,-50%);
    width: 65%;
    max-width: 400px;
    padding:50px 40px;
    border-radius: 15px;
    transition: background .2s linear;
}

.form-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    grid-gap: 30px;
    margin:0px 0 40px;
}

.form-item:focus{
    outline:2px solid #a03df7;
    color:#a03df7;
    
}

.form-item{
    padding: 15px;
    outline: none;
    text-align: center;
    font-size: 1em;
    border-radius: 25px;
    background:rgb(31, 31, 31);
    border: none;
    color: #fff;
    transition: background .2s linear;
}

.submit{
    padding: 12px;
    border-radius: 25px;
    background-color: #a03df7;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.view-mode-container
{
    position: absolute;
    top:20%;
    left:80%;
}

#btn-view-mode
{
    opacity: 0;
    display: none;
}

#btn-view-mode:checked + .label-view-mode .ball
{
    transform: translateX(24px);
}

.label-view-mode
{
    background:#353535;
    box-sizing: border-box;
    display: flex;
    height:25px;
    width: 50px;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    position: relative;
}

.fa-moon
{
    color:#f7e600;
}

.fa-sun
{
    color:#f76f00;
}

.ball
{
    background:#000000;
    border-radius: 50px;
    height: 21px;
    width: 21px;
    top:2px;
    left:2px;
    position: absolute;
    transition: transform 0.2s linear, background .2s linear;
}



/* light mode */

body.light{
    background-color: #d8d8d8;
}

.form-container.light{
   
    background-color: #ffffff;
  
}


.form-item.light:focus{
    outline:2px solid #1d2cf5;
    color:#1d2cf5;
}

.form-item.light{
  
    background:#f0eef7;

    color: #585858;
}

.submit.light{
  
    background-color: #1d2cf5;
    color: white;
 
}


.label-view-mode .ball.light
{
    background:#aca7a7;
}
